# Pycharm Stuff
.idea/
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
docs/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pipyrc
.pytest_cache

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# BIG Datasets and results
data/
src/Data1.csv
sampledata.csv
src/sampledata.csv
src/run_history_old/
src/old*


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Pickle
*.pickle

